{% set pageRoute = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body data-page-name="{% block page_name %}homepage{% endblock %}" class="d-flex flex-column h-100">
{% block header %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('homepage') }}">{{ site_name}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if pageRoute == 'homepage' %}active{% endif %}" aria-current="page" href="{{ path('homepage') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if pageRoute == 'link_list' %}active{% endif %}" href="{{ path('link_list') }}">List</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}

<main role="main" class="flex-shrink-0 mb-5">
    <div class="container">
    {% block body %}{% endblock %}
    </div>
</main>

{% block footer %}
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">&copy; {{ 'now'|date('Y') }} {{ developer_name }}, All rights reserved.</span>
    </div>
</footer>
{% endblock %}

<div id="ajaxLoader" class="loading"><span></span></div>
{% block modals %}{% endblock %}
{% block toasts %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
